# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.venv/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Data
*.csv
*.log

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# # exclude data from source control by default
/data/
/Videos/
/Audio/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# video and executables
*.exe
*.mp3
*.mp4
chromedriver

Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/generation_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/model.safetensors
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/optimizer.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/rng_state.pth
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/scheduler.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/special_tokens_map.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/tokenizer_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/tokenizer.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/trainer_state.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-132/training_args.bin
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/generation_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/model.safetensors
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/optimizer.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/rng_state.pth
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/scheduler.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/special_tokens_map.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/tokenizer_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/tokenizer.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/trainer_state.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-165/training_args.bin
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/generation_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/model.safetensors
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/optimizer.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/rng_state.pth
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/scheduler.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/special_tokens_map.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/tokenizer_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/tokenizer.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/trainer_state.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-33/training_args.bin
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/generation_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/model.safetensors
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/optimizer.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/rng_state.pth
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/scheduler.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/special_tokens_map.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/tokenizer_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/tokenizer.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/trainer_state.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-66/training_args.bin
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/generation_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/model.safetensors
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/optimizer.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/rng_state.pth
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/scheduler.pt
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/special_tokens_map.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/tokenizer_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/tokenizer.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/trainer_state.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/checkpoint-99/training_args.bin
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/runs/Nov16_23-09-52_ZachsDopePC/events.out.tfevents.1763352594.ZachsDopePC.32952.2
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa/runs/Nov16_23-15-04_ZachsDopePC/events.out.tfevents.1763352905.ZachsDopePC.32952.3
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa-model/config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa-model/generation_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa-model/model.safetensors
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa-model/special_tokens_map.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa-model/tokenizer_config.json
Data Science Modeling and Analytics/HW Assignment 4/flan-t5-alice-qa-model/tokenizer.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/generation_config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/model.safetensors
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/preprocessor_config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/special_tokens_map.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/tokenizer_config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/tokenizer.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/training_args.bin
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/vocab.txt
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/generation_config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/model.safetensors
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/optimizer.pt
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/rng_state.pth
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/scaler.pt
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/scheduler.pt
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/trainer_state.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-14302/training_args.bin
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/generation_config.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/model.safetensors
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/optimizer.pt
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/rng_state.pth
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/scaler.pt
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/scheduler.pt
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/trainer_state.json
Data Science Modeling and Analytics/Programming Assignment 2/blip-finetuned-flickr/checkpoint-21453/training_args.bin
